Repository KubeArchitect/build-docker-images: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-fedora-image, build-circleci-node-image

.circleci/config.yml:

---
version: 2.1
setup: true

# define the parameters from the setup config.
parameters:
  build-fedora-image:
    type: boolean
    default: false
  build-circleci-node-image:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@1.2.0
  megalinter: relativesure/megalinter@2.0.0

workflows:
  generate-config:
    jobs:
      - megalinter/run:
          resource_class: kubearchitect/hetzner-ubuntu-kind
          context:
            - main-context

      - path-filtering/filter:
          # Examples: https://github.com/CircleCI-Public/dynamic-configuration-examples/tree/generate-config-file-main
          base-revision: master
          config-path: .circleci/no-updates.yml
          resource_class: kubearchitect/hetzner-ubuntu-kind
          tag: "3.9"
          mapping: |
            gh-actions/.* build-fedora-image true .circleci/fedora-actions.yml
            .circleci/fedora-actions.yml build-fedora-image true .circleci/fedora-actions.yml
            node/.* build-circleci-node-image true .circleci/circleci-image.yml
            .circleci/circleci-image.yml build-circleci-node-image true .circleci/circleci-image.yml

wip
  .circleci/config.yml
Due: none

fix
  .circleci/circleci-image.yml
  .circleci/fedora-actions.yml
  .circleci/no-updates.yml
Due: build-fedora-image, build-circleci-node-image

fix
  .circleci/circleci-image.yml
  .circleci/fedora-actions.yml
Due: build-fedora-image, build-circleci-node-image

Update config.yml
  .circleci/config.yml
Due: none

Apply suggestions from code review
  .circleci/no-updates.yml
Due: none

Setup pnpm circleci image (#21)
  .changeset/tricky-lemons-destroy.md
  .circleci/circleci-image.yml
  .circleci/config.yml
  .circleci/megalinter.yml
  .circleci/no-updates.yml
  .dockerignore
  compose.yaml
  gh-actions/Dockerfile
  node/Dockerfile
Due: build-fedora-image, build-circleci-node-image

Update circleci-image.yml
  .circleci/circleci-image.yml
Due: build-circleci-node-image

Update circleci-image.yml (#22)
  .circleci/circleci-image.yml
  .circleci/config.yml
Due: build-circleci-node-image

Pin Node.js to 70eca39
  node/Dockerfile
Due: build-circleci-node-image

Pin Node.js to 70eca39 (#23)
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to b33cf70
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to b33cf70 (#24)
  node/Dockerfile
Due: build-circleci-node-image

Update Dockerfile
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to 6eaab64
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to 6eaab64 (#25)
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to 0a29d8a
  node/Dockerfile
Due: build-circleci-node-image

Update Node.js to 0a29d8a (#26)
  node/Dockerfile
Due: build-circleci-node-image

Update no-updates.yml
  .circleci/no-updates.yml
Due: none

Remove resource class (#28)
  .circleci/config.yml
  .circleci/no-updates.yml
Due: none

Create grumpy-parrots-listen.md
  .changeset/grumpy-parrots-listen.md
Due: none

Update Dockerfile (#29)
  .changeset/grumpy-parrots-listen.md
  .circleci/circleci-image.yml
  node/Dockerfile
Due: build-circleci-node-image

add USER to circleci pnpm dockerfile
  node/Dockerfile
Due: build-circleci-node-image
